.containerStyle {
    position: relative;
    width: 100%;

    .MuiTypography-root {
        font-family: "American Typewriter", serif;
        font-weight: 500;
    }

    .sectionWrapper {
        padding: 150px 0px;

        .sectionTitle {
            margin-bottom: 30px;
            font-weight: 600;
        }
    }

    .colorCode-red {
        color: #c52c2b;
    }
}

a {
    font-weight: 600;
    font-family: "American Typewriter", serif !important;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url("assets/img/underline.png");
    background-position: 0 105%;
    background-size: 100% 30%;
    color: black;

    &:hover {
        color: #c52c2b;
    };
}

.specialButton {
    font-family: "American Typewriter", serif !important;
    text-align: center;
    font-weight: 600 !important;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url("assets/img/button.png");
    background-position: center;
    background-size: 100% 100%;
    color: black;

    &:hover {
        background-color: #00000000 !important;
        text-decoration: none;
        color: #c52c2b;
    };
}