.appBarDynamicHeight {
	background-color: #fafafa !important;
	min-height: 64px !important;
	transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms, min-height 400ms cubic-bezier(0, 0, 0.2, 1) 100ms !important;

	&.extended {
		min-height: 86px !important;
	}
}
.centerContentInsideToolbar {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	padding-left: 48px !important;
    padding-right: 48px !important;
    justify-content: space-between !important;

	.menuButtonIcon {
		font-size: 30px;
	}
	.logoWrapper {
		height: 64px;
		cursor: pointer;
	}
	.navigationWrapper {
		& > * + * {
	      margin-left: 24px;
	    }
	}
}